<h1>프로필 설정</h1>

<%= form_with model: current_user, url: onboarding_profile_path, method: :patch do |form| %>
  <% if current_user.errors.any? %>
    <div class="error">
      <% current_user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :nickname, "닉네임" %>
    <%= form.text_field :nickname %>
  </div>

  <div>
    <%= form.submit "다음" %>
  </div>
<% end %>
